@import url('normalize.css');

:root {
  --bg-color: #eee4db;
  --main-color: #317055;
  --hover-main: #153225;
  --text-color-1: #686870;
  --text-color-2: #10151b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
