.container {
  height: 100vh;
  background-color: var(--bg-color);

  position: relative;
}

.main {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 15px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
}

.productInfoSection {
  width: 600px;
  padding: 30px;
}

.type,
.description,
.discounted {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--text-color-1);
}

.productHeading {
  font-family: 'DM Serif Display', serif;
  font-size: 34px;
  color: var(--text-color-2);
}

.type {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.description {
  line-height: 1.5;
}

/* 
.desktopImg {
  width: 40px;
  height: 60px;
} */

.priceWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.price {
  margin-right: 20px;
  font-family: 'DM Serif Display', serif;
  font-size: 36px;
  color: var(--main-color);
}

.discounted {
  text-decoration: line-through;
}

.cartBtn {
  width: 100%;
  background: var(--main-color);
  color: #fff;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btnText {
  margin-left: 10px;
}

.cartBtn span {
  margin-left: 10px;
}

.cartBtn:hover {
  background: var(--hover-main);
}

@media (max-width: 660px) {
  .main {
    width: 400px;
    height: 92%;
    flex-direction: column;
  }

  .productInfoSection {
    width: 400px;
  }

  .productHeading {
    font-size: 28px;
  }

  .type,
  .description,
  .discounted {
    font-size: 90%;
  }

  .price {
    font-size: 30px;
  }
}

@media (max-width: 440px) {
  .main {
    width: 280px;
    height: 88%;
  }

  .productInfoSection {
    width: 280px;
    padding: 18px;
    height: auto;
  }

  .productHeading {
    font-size: 24px;
  }

  .type,
  .description,
  .discounted {
    font-size: 85%;
  }

  .priceWrapper {
    padding-bottom: 15px;
  }

  .price {
    font-size: 26px;
  }
}

@media (max-width: 310px) {
  .main {
    width: 240px;
    height: 80%;
  }

  .productInfoSection {
    width: 240px;
  }

  .productHeading {
    font-size: 20px;
  }

  .type,
  .description,
  .discounted {
    font-size: 75%;
  }

  .priceWrapper {
    padding-bottom: 10px;
  }

  .price {
    font-size: 22px;
  }

  .cartBtn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
}
